In [12]:
import pandas as pd

appartment = pd.read_csv('apartment_links.csv')

In [13]:
appartment

      Unnamed: 0                                          link
0              0  https://www.immoweb.be/en/classified/8917294
1              1  https://www.immoweb.be/en/classified/8892312
2              2  https://www.immoweb.be/en/classified/8892319
3              3  https://www.immoweb.be/en/classified/8899851
4              4  https://www.immoweb.be/en/classified/8892306
...          ...                                           ...
9985        9985  https://www.immoweb.be/en/classified/8891329
9986        9986  https://www.immoweb.be/en/classified/8726529
9987        9987  https://www.immoweb.be/en/classified/8700300
9988        9988  https://www.immoweb.be/en/classified/8900117
9989        9989  https://www.immoweb.be/en/classified/8872195

[9990 rows x 2 columns]

In [14]:
house = pd.read_csv('house_links.csv')
house

      Unnamed: 0                                          link
0              0  https://www.immoweb.be/en/classified/8892317
1              1  https://www.immoweb.be/en/classified/8856902
2              2  https://www.immoweb.be/en/classified/7171388
3              3  https://www.immoweb.be/en/classified/8903967
4              4  https://www.immoweb.be/en/classified/8789591
...          ...                                           ...
9985        9985  https://www.immoweb.be/en/classified/8909931
9986        9986  https://www.immoweb.be/en/classified/8907230
9987        9987  https://www.immoweb.be/en/classified/8920198
9988        9988  https://www.immoweb.be/en/classified/8897551
9989        9989  https://www.immoweb.be/en/classified/8706638

[9990 rows x 2 columns]

In [15]:
appartment_house_link = pd.concat([appartment, house])
appartment_house_link.drop(['Unnamed: 0'], axis=1,inplace=True)

In [16]:
appartment_house_link.reset_index(inplace=True)

In [17]:
appartment_house_link.drop(['index'], axis=1,inplace=True)

In [18]:
appartment_house_link

                                               link
0      https://www.immoweb.be/en/classified/8917294
1      https://www.immoweb.be/en/classified/8892312
2      https://www.immoweb.be/en/classified/8892319
3      https://www.immoweb.be/en/classified/8899851
4      https://www.immoweb.be/en/classified/8892306
...                                             ...
19975  https://www.immoweb.be/en/classified/8909931
19976  https://www.immoweb.be/en/classified/8907230
19977  https://www.immoweb.be/en/classified/8920198
19978  https://www.immoweb.be/en/classified/8897551
19979  https://www.immoweb.be/en/classified/8706638

[19980 rows x 1 columns]

In [19]:
appartment_house_link.to_csv('appartment_house_links.csv',index=False)

In [20]:
df = pd.read_csv('appartment_house_links.csv')

In [24]:
df.duplicated().any()

True

In [28]:
df.drop_duplicates(inplace=True)

In [29]:
df

                                               link
0      https://www.immoweb.be/en/classified/8917294
1      https://www.immoweb.be/en/classified/8892312
2      https://www.immoweb.be/en/classified/8892319
3      https://www.immoweb.be/en/classified/8899851
4      https://www.immoweb.be/en/classified/8892306
...                                             ...
19975  https://www.immoweb.be/en/classified/8909931
19976  https://www.immoweb.be/en/classified/8907230
19977  https://www.immoweb.be/en/classified/8920198
19978  https://www.immoweb.be/en/classified/8897551
19979  https://www.immoweb.be/en/classified/8706638

[19974 rows x 1 columns]

In [30]:
df.to_csv('appartment_house_links_no_duplicates.csv',index=False)

In [31]:
df = pd.read_csv('appartment_house_links_no_duplicates.csv')

In [32]:
df

                                               link
0      https://www.immoweb.be/en/classified/8917294
1      https://www.immoweb.be/en/classified/8892312
2      https://www.immoweb.be/en/classified/8892319
3      https://www.immoweb.be/en/classified/8899851
4      https://www.immoweb.be/en/classified/8892306
...                                             ...
19969  https://www.immoweb.be/en/classified/8909931
19970  https://www.immoweb.be/en/classified/8907230
19971  https://www.immoweb.be/en/classified/8920198
19972  https://www.immoweb.be/en/classified/8897551
19973  https://www.immoweb.be/en/classified/8706638

[19974 rows x 1 columns]