In [ ]:
from bs4 import BeautifulSoup
import requests
import json
import csv


class House:
    """ Class defining a house characterized by :
    - his Locality
    - his type of property (House/apartment)
    - his Subtype of property (Bungalow, Chalet, Mansion, ...)
    - his Price
    - his Type of sale (Exclusion of life sales)
    - his Number of rooms
    - his Area
    - his Fully equipped kitchen (Yes/No)
    - his Furnished (Yes/No)
    - his Open fire (Yes/No)
    - his Terrace (Yes/No)
    - his Terrace Area (If terrace yes)
    - his Garden (Yes/No)
    - his Garden Area (If garden yes)
    - his Surface of the land
    - his Surface area of the plot of land
    - his Number of facades
    - his Swimming pool (Yes/No)
    - his State of the building (New, to be renovated, ...)
    """

    def __init__(self):
        """Constructor our class"""
        self.locality = "No Value found"
        self.type_of_property = "No Value found"
        self.subtype_of_property = "No Value found"
        self.price = "No Value found"
        self.type_of_sale = "No Value found"
        self.number_of_rooms = "No Value found"
        self.house_area = "No Value found"    # taille du terrain
        self.fully_equipped_kitchen = "No Value found"
        self.furnished = str(None)
        self.open_fire = "No Value found"
        self.terrace = "No Value found"
        self.terrace_area = "No Value found"
        self.garden = "No Value found"
        self.garden_area = "No Value found"
        self.surface_of_the_land = "No Value found"
        self.surface_of_the_plot_of_land = str(None)
        self.number_of_facades = "No Value found"
        self.swimming_pool = "No Value found"
        self.state_of_the_building = "No Value found"

        # optionnel

        self.construction_year = "m"

    # permet de rajouter des données au fichier CSV

    def save_to_csv(self):
        with open('house_detail_40001_59206.csv', 'a', newline='') as file:
            writer = csv.writer(file)
            writer.writerow([self.locality, self.type_of_property, self.subtype_of_property, self.price,
                             self.type_of_sale, self.number_of_rooms, self.house_area, self.fully_equipped_kitchen,
                             self.furnished, self.open_fire, self.terrace, self.terrace_area, self.garden,
                             self.garden_area, self.surface_of_the_land, self.surface_of_the_plot_of_land,
                             self.number_of_facades, self.swimming_pool, self.state_of_the_building,
                             self.construction_year])

    # permet de creer le fichier CSV (avec les en-tête)

    def create_csv(self):
        with open('house_detail_40001_59206.csv', 'w', newline='') as file:
            writer = csv.writer(file)
            writer.writerow(["locality", "type_of_property", "subtype_of_property", "price", "type_of_sale",
                             "number_of_rooms", "house_area", "fully_equipped_kitchen", "furnished", "open_fire",
                             "terrace", "terrace_area", "garden", "garden_area", "surface_of_the_land",
                             "surface_of_the_plot_of_land", "number_of_facades", "swimming_pool",
                             "state_of_the_building", "construction_year"])
            writer.writerow([self.locality, self.type_of_property, self.subtype_of_property, self.price,
                             self.type_of_sale, self.number_of_rooms, self.house_area, self.fully_equipped_kitchen,
                             self.furnished, self.open_fire, self.terrace, self.terrace_area, self.garden,
                             self.garden_area, self.surface_of_the_land, self.surface_of_the_plot_of_land,
                             self.number_of_facades, self.swimming_pool, self.state_of_the_building,
                             self.construction_year])

    def print(self):
        print("locality : " + self.locality + "\n",
              "type_of_property : " + self.type_of_property + "\n",
              "subtype_of_property : " + str(self.subtype_of_property) + "\n",
              "price : " + self.price + "\n",
              "type_of_sale : " + self.type_of_sale + "\n",
              "number_of_rooms : " + self.number_of_rooms + "\n",
              "house_area : " + self.house_area + "\n",
              "fully_equipped_kitchen : " + self.fully_equipped_kitchen + "\n",
              "furnished : " + self.furnished + "\n",
              "open_fire : " + self.open_fire + "\n",
              "terrace : " + self.terrace + "\n",
              "terrace_area : " + self.terrace_area + "\n",
              "garden : " + self.garden + "\n",
              "garden_area : " + self.garden_area + "\n",
              "surface_of_the_land : " + self.surface_of_the_land + "\n",
              "surface_of_the_plot_of_land : " + self.surface_of_the_plot_of_land + "\n",
              "number_of_facades : " + self.number_of_facades + "\n",
              "swimming_pool : " + self.swimming_pool + "\n",
              "state_of_the_building : " + self.state_of_the_building + "\n",
              "construction_year : " + str(self.construction_year) + "\n")


url = ""


def scrap_scrip(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content, "lxml")

    # We only retrieve the content of the script tag
    al = []
    for p in soup.html.find_all():
        for n in p:
            if n.name == "script":
                al.append(str(n))

    # Données JSON:
    x = al[0]

    x = x.replace("<script>", "")
    x = x.replace("window.dataLayer = [", "")
    x = x.replace("];", "")
    x = x.replace("</script>", "")
    x = ' '.join(x.split())

    # parse x:
    y = json.loads(x)

    # récupération des informations présentent dans le premier script :

    une_maison = House()

    une_maison.type_of_property = y["classified"]["type"]
    if y["classified"]["subtype"] :
        une_maison.subtype_of_property = y["classified"]["subtype"]
    else :
        une_maison.subtype_of_property = None
    une_maison.price = y["classified"]["price"]
    une_maison.type_of_sale = y["classified"]["transactionType"]
    une_maison.locality = y["classified"]["zip"]
    if y["classified"]["kitchen"]["type"]:
        une_maison.fully_equipped_kitchen = str(1)
    else:
        une_maison.fully_equipped_kitchen = str(0)
    if y["classified"]["building"]["constructionYear"] :
        une_maison.construction_year = y["classified"]["building"]["constructionYear"]
    else :
        une_maison.construction_year = str(None)
    if y["classified"]["building"]["condition"]:
        une_maison.state_of_the_building = y["classified"]["building"]["condition"]
    else:
        une_maison.state_of_the_building = str(None)
    une_maison.number_of_rooms = y["classified"]["bedroom"]["count"]
    une_maison.surface_of_the_land = y["classified"]["land"]["surface"]
    if y["classified"]["outdoor"]["garden"]["surface"]:
        une_maison.garden_area = y["classified"]["outdoor"]["garden"]["surface"]
    else:
        une_maison.garden_area = str(None)
    if y["classified"]["outdoor"]["terrace"]["exists"]:
        une_maison.terrace = str(1)
    else:
        une_maison.terrace = str(0)
    if y["classified"]["wellnessEquipment"]["hasSwimmingPool"]:
        une_maison.swimming_pool = str(1)
    else:
        une_maison.swimming_pool = str(0)

    # récupération des informations présentent dans le second script :
    x = al[len(al) - 1]

    x = x.replace("<script type=\"text/javascript\">", "")
    x = x.replace("window.classified = ", "")
    x = x.replace(";", "")
    x = x.replace("</script>", "")
    x = x.replace("True", "\"True\"")

    x = ' '.join(x.split())

    y = json.loads(x)

    une_maison.house_area = str(y["property"]["netHabitableSurface"])
    
    if y["property"]["hasTerrace"]:
        une_maison.terrace = str(1)
    else :
        une_maison.terrace = str(0)
    if une_maison.terrace == str(1):
        une_maison.terrace_area = str(y["property"]["terraceSurface"])
    else :
        une_maison.terrace_area = str(None)
    une_maison.number_of_facades = str(y["property"]["building"]["facadeCount"])
    if y["property"]["hasSwimmingPool"]:
        une_maison.swimming_pool = str(1)
    else : 
        une_maison.swimming_pool = str(0)
    if y["property"]["fireplaceExists"]:
        une_maison.open_fire = str(1)
    else:
        une_maison.open_fire = str(0)
    if y["property"]["hasGarden"]:
        une_maison.garden = str(1)
    else :
        une_maison.garden = str(0)
    

    return une_maison




def scrap_all_page():
    nbr_run = 1

    with open('/Users/adamtky/becode/becode_projects/challenge-collecting-data/final_link_list.csv', "r") as f:
        liste_url_intermediare = f.read()
        liste_url = liste_url_intermediare.split("\n")

        for i in range(40001 , len(liste_url)):  
            print(nbr_run)
            nbr_run += 1
            try:
                maison = scrap_scrip(liste_url[i])
                maison.save_to_csv()

            except:
                with open('link_error.csv', 'a', newline='') as file:
                    writer = csv.writer(file)
                    writer.writerow([url])
                continue


def create_csv():
    with open('house_detail_40001_59206.csv', 'w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(["locality", "type_of_property", "subtype_of_property", "price", "type_of_sale",
                         "number_of_rooms", "house_area", "fully_equipped_kitchen", "furnished", "open_fire",
                         "terrace", "terrace_area", "garden", "garden_area", "surface_of_the_land",
                         "surface_of_the_plot_of_land", "number_of_facades", "swimming_pool",
                         "state_of_the_building", "construction_year"])
create_csv()
scrap_all_page()

In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('house_detail_30001_40000.csv')

In [33]:
df

,1000,apartment,apartment.1,525000,for sale,3,128,1,None,0,1.1,None.1,1.2,80,Unnamed: 14,None.2,2,0.1,None.3,2016
0,8300,apartment,apartment,525000,for sale,2,84,1,None,0,1,None,0,None,NaN,None,None,0,good,1980
1,1860,apartment,apartment,525000,for sale,2,140,1,None,0,1,50,1,200,NaN,None,2,0,as new,2018
2,8600,apartment,duplex,545000,for sale,2,330,0,None,0,0,None,0,None,NaN,None,2,0,good,None
3,8370,apartment,apartment,550000,for sale,2,95,1,None,0,0,None,1,None,NaN,None,2,0,as new,2004
4,4050,apartment,apartment,520000,for sale,3,183,1,None,0,1,20,0,None,NaN,None,None,0,as new,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9519,5140,house,house,235000,for sale,3,200,1,None,0,0,None,0,None,135.0,None,None,0,good,None
9520,8600,house,house,237000,for sale,3,160,1,None,0,1,None,1,1,168.0,None,None,0,good,None
9521,4020,house,house,245000,for sale,4,180,1,None,0,0,None,0,None,0.0,None,2,0,to renovate,None
9522,6940,house,villa,249000,for sale,4,200,1,None,0,1,None,1,1167,1167.0,None,None,0,good,None
9523,9420,house,house,225000,for sale,4,450,0,None,1,0,None,1,120,400.0,None,3,0,to renovate,1978

In [34]:
df.columns = ["locality", "type_of_property", "subtype_of_property", "price", "type_of_sale",
           "number_of_rooms", "house_area", "fully_equipped_kitchen", "furnished", "open_fire",
           "terrace", "terrace_area", "garden", "garden_area", "surface_of_the_land",
           "surface_of_the_plot_of_land", "number_of_facades", "swimming_pool",
           "state_of_the_building", "construction_year"]

In [35]:
df

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,surface_of_the_plot_of_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
0,8300,apartment,apartment,525000,for sale,2,84,1,None,0,1,None,0,None,NaN,None,None,0,good,1980
1,1860,apartment,apartment,525000,for sale,2,140,1,None,0,1,50,1,200,NaN,None,2,0,as new,2018
2,8600,apartment,duplex,545000,for sale,2,330,0,None,0,0,None,0,None,NaN,None,2,0,good,None
3,8370,apartment,apartment,550000,for sale,2,95,1,None,0,0,None,1,None,NaN,None,2,0,as new,2004
4,4050,apartment,apartment,520000,for sale,3,183,1,None,0,1,20,0,None,NaN,None,None,0,as new,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9519,5140,house,house,235000,for sale,3,200,1,None,0,0,None,0,None,135.0,None,None,0,good,None
9520,8600,house,house,237000,for sale,3,160,1,None,0,1,None,1,1,168.0,None,None,0,good,None
9521,4020,house,house,245000,for sale,4,180,1,None,0,0,None,0,None,0.0,None,2,0,to renovate,None
9522,6940,house,villa,249000,for sale,4,200,1,None,0,1,None,1,1167,1167.0,None,None,0,good,None
9523,9420,house,house,225000,for sale,4,450,0,None,1,0,None,1,120,400.0,None,3,0,to renovate,1978

In [36]:
df.to_csv('house_detail_30001_40000_edited.csv',index=False)

In [37]:
df = pd.read_csv('house_detail_30001_40000_edited.csv')

In [38]:
df

,locality,type_of_property,subtype_of_property,price,type_of_sale,number_of_rooms,house_area,fully_equipped_kitchen,furnished,open_fire,terrace,terrace_area,garden,garden_area,surface_of_the_land,surface_of_the_plot_of_land,number_of_facades,swimming_pool,state_of_the_building,construction_year
0,8300,apartment,apartment,525000,for sale,2,84,1,None,0,1,None,0,None,NaN,None,None,0,good,1980
1,1860,apartment,apartment,525000,for sale,2,140,1,None,0,1,50,1,200,NaN,None,2,0,as new,2018
2,8600,apartment,duplex,545000,for sale,2,330,0,None,0,0,None,0,None,NaN,None,2,0,good,None
3,8370,apartment,apartment,550000,for sale,2,95,1,None,0,0,None,1,None,NaN,None,2,0,as new,2004
4,4050,apartment,apartment,520000,for sale,3,183,1,None,0,1,20,0,None,NaN,None,None,0,as new,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9519,5140,house,house,235000,for sale,3,200,1,None,0,0,None,0,None,135.0,None,None,0,good,None
9520,8600,house,house,237000,for sale,3,160,1,None,0,1,None,1,1,168.0,None,None,0,good,None
9521,4020,house,house,245000,for sale,4,180,1,None,0,0,None,0,None,0.0,None,2,0,to renovate,None
9522,6940,house,villa,249000,for sale,4,200,1,None,0,1,None,1,1167,1167.0,None,None,0,good,None
9523,9420,house,house,225000,for sale,4,450,0,None,1,0,None,1,120,400.0,None,3,0,to renovate,1978